doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dart Scores | Dashboard
        link(rel='stylesheet', href='./stylesheets/style.css')
    body 
        h1 Premier League 180's
        table 
            tr
                th Name 
                th Nickname 
                th 180's 
            each player in players
                tr(id= player.id)
                    td= player.name
                    td= player.nickname
                    td= player.score
        script(src="../primus/primus.js")
        script(src="../javascripts/app.js") 