doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dart Scores | Update stats
        link(rel='stylesheet', href='./stylesheets/style.css')
    body 
        h1 Premier League
        h2 Update amount of 180's per player
        form(id="updateForm")
            select(name="player", id="player")
                each player in players
                    option(value= player.id)= player.name
            input(type="text", placeholder="Amount of 180's", name="score", id="score")
            input(type="submit", value="Update stats", id="button")
        .error
        script(src="../primus/primus.js")
        script(src="../javascripts/updateboard.js")